# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# Virtual environment
# ===============================
venv/
.env

# ===============================
# Vector database (FAISS)
# ===============================
data/faiss_index/
*.faiss
*.index

# ===============================
# OS / Editor
# ===============================
.DS_Store
.vscode/

# ===============================
# Logs
# ===============================
*.log
