# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
viewora_env/

# Django
db.sqlite3
media/

# # Firebase Admin SDK (CRITICAL)
# firebase_service_account.json
# viewora-project-firebase-adminsdk-*.json

# Firebase Admin SDK (CRITICAL)
firebase_service_account*.json
*firebase-adminsdk*.json
firebase/**/*.json



# VS Code
.vscode/

# OS
.DS_Store

# firebase/viewora-notification-firebase-adminsdk-fbsvc-c369f555cf.json
